extends layout

block content
  p The Election is coming up Next year!
  form(method="POST"
    action="/vote"
    enctype="application/x-www-form-urlencoded")
    p Are you going to vote?
    input(type="radio"
      name="voting"
      value="yes"
      required)
    |Yes
    br
    input(type="radio"
      name="voting"
      value="no"
      required)
    |No

    p
    input(type="submit"
      value="Next >")

